.git
.github
.forgejo
**/.venv
**/node_modules
**/__pycache__
**/.pytest_cache
**/*.egg-info
**/*.pyc
**/*.tsbuildinfo
backend/static
**/data
**/*.db
**/*.db-*
**/.env*
**/secrets
**/*credentials*
docs
